<header class="header">
  <div class="container">
    <nav class="nav">
      <a class="logo nav-logo" href="./index.html" >
        <svg class="icon icon-artistshub-logo" >
          <use href="./img/symbol-defs.svg#icon-artistshub-logo"></use>
        </svg>
      </a>
            <ul class="nav-list">
                <li class="nav-item" >
                    <a class="nav-link current" href="./index.html">Artists</a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link" href="">About us</a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link" href="">Reviews</a>
                </li>
            </ul>
            <button class="nav-btn-mobile" type="button">
              <svg class="btn-mobile-icon" width="24" height="24">
                <use href=./img/symbol-defs.svg#icon-menu-alt-right></use>
              </svg>
            </button>
        </nav>
        
  </div>
  <!---Mobile-menu-->
  <div class="mobile">
    <div class="container container-mobile">
        <button class="mobile-close-btn" type="button" >
            <svg class="close-icon-mobile" width="8" height="8">
                <use href="./images/icons.svg#icon-close"></use>
            </svg>
        </button>
        <ul class="list-mobile">
            <li class="item-mobile"><a href="" class="mobile-link blue ">Artists</a></li>
            <li class="item-mobile"><a href="" class="mobile-link">About us</a></li>
            <li class="item-mobile"><a href="" class="mobile-link">Reviews</a></li>
        </ul>
      </div></div>
</header>
